<% @title = @app.name %>
<div class="page-header page-header-integrated">
  <h1><%= @app.name %></h1>
  <div class="back">
    <%= link_to "&laquo; Back to My Apps".html_safe, apps_path %>
  </div>

  <div class="actions">
    <div class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="page-header-actions" data-toggle="dropdown" aria-expanded="true">
        <span class="glyphicon glyphicon-cog"></span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="page-header-actions">
        <%= render partial: "apps/menu", locals: { app: @app } %>
      </ul>
    </div>
  </div>
</div>

<% if @hosts.empty? %>
  <%= render partial: "intro" %>
<% else %>
  <%= render partial: "hosts", locals: { hosts: @hosts } %>
<% end %>
