<% @title = "New app" %>
<div class="page-header page-header-integrated">
  <h1>New app</h1>
  <div class="back">
    <%= link_to "&laquo; Back to My Apps".html_safe, apps_path %>
  </div>
</div>

<%= form_for(@app) do |f| %>
  <%= render partial: "form", locals: { f: f } %>

  <div class="checkbox">
    <label>
      <%= f.check_box :terms_of_service %>
      I accept the <%= link_to "terms and conditions", controller: "welcome", action: "tos", target: "_blank" %><br>
      <small>Seriously, you should read it. It's important and very short.</small>
    </label>
  </div>

  <p class="actions">
    <%= f.submit "Register", class: "btn btn-primary" %>
  </p>
<% end %>
